Redirect 301 /~hnarayan/index.html http://harishnarayanan.org
Redirect 301 /~hnarayan/research.html http://harishnarayanan.org/research
Redirect 301 /~hnarayan/publications.html http://harishnarayanan.org/writing
Redirect 301 /~hnarayan/presentations.html http://harishnarayanan.org/talks
Redirect 301 /~hnarayan/coursework.html http://harishnarayanan.org/coursework
Redirect 301 /~hnarayan/leisure.html http://harishnarayanan.org/photos	
Redirect 301 /~hnarayan/vita.html http://harishnarayanan.org/cv.pdf
Redirect 301 /~hnarayan/maxtor-harddrive-linux.html http://harishnarayanan.org/writing/maxtor-harddrive-linux/
Redirect 301 /~hnarayan/harmonising-whistleblowing.html http://harishnarayanan.org/writing/harmonising-whistleblowing
Redirect 301 /~hnarayan/for-hire.html http://harishnarayanan.org/hire-me
Redirect 301 /~hnarayan/notes.html http://harishnarayanan.org/meta
