* {
margin:0;
padding:0;	
border:0;	
}		

html, body {
height: 99%;
background: #e6e1d4;
font-family:'Bitstream Vera Sans', 'Lucida Grande', Verdana, sans-serif;
font-size:10pt;
}

a {
text-decoration:underline;
}

a img {
border:0;
}

a:hover {
color:#8a6100;
}

a:link {
color:#573d00;
}

a:visited {
color:#573d00;
}

#background {
width: 800px;
height: 600px;
left: 50%;
top: 50%;
margin-left: -400px;
margin-top: -300px;
border: 1px solid #7d5800;
background: url(background-less-transparent.jpg) top center no-repeat;
position: absolute;
text-align:left;
}

#contact {
width: 148px;
height: 185px;
margin-left:643px;	
margin-top:6px;
position: absolute;
text-align:center;
}

#content {
margin-left:7px;
margin-right:4px;
width: 460px;
height:600px;
border: 0;
text-align:justify;
}

#content h2, #contact h1 {
color: #7d5800;
font-weight:500;
font-size: 170%;
}

#content h2 {
margin-left:5px;
margin-top:15px;
}

#contact h1,h3,p {
margin-top: 5px;
}

#contact h3 {
color: #000;
font-weight:500;
font-size: 80%;
}

#contact p {
margin-top: 10px;
color: #000;
font-weight:400;
font-size: 90%;
}

#content p {
margin-top:5px;
margin-left:10px;
margin-right:5px;
}

#content ul {
margin-top: 5px;
margin-left:25px;
}
